#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config LVX_USE_DEMO_CONTEST2026_264_CTRLC_TEST
	bool "BK7258 UART Ctrl-C test"
	default n
	---help---
		Enable the BK7258 UART controlling-terminal SIGINT test command.
