#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config LVX_USE_DEMO_CONTEST2026_264_SDNAND_INIT
	bool "BK7258 SD-NAND storage management"
	default n
	depends on BK7258_SDIO && FS_FAT && FSUTILS_MKFATFS
	---help---
		Enable the sdnand_init NSH command for initialization, status, mount,
		unmount and explicit destructive FAT provisioning.
